
*.xcuserstate

*.xccheckout

*.xcuserstate

*.xccheckout

*.xccheckout

HuiTuTicket.xcodeproj/project.xcworkspace/xcuserdata/Chemayi.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate
